<server description="Sample Liberty server">

    <featureManager>
        <feature>jsp-2.3</feature>
    </featureManager>

    <variable name="default.http.port"  defaultValue="9093" />
    <variable name="default.https.port" defaultValue="9456" />

    <httpEndpoint host="*" httpPort="${default.http.port}"
        httpsPort="${default.https.port}" id="defaultHttpEndpoint" />

    <enterpriseApplication id="guide-gradle-multimodules-custmm-ear-skinny-modules"
        location="guide-gradle-multimodules-custmm-ear-skinny-modules-1.0-SNAPSHOT.ear"
        name="guide-gradle-multimodules-custmm-ear-skinny-modules" />

</server>
