<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) 2022 IBM Corporation and others.

  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License v. 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0.

  SPDX-License-Identifier: EPL-2.0

  Contributors:
      IBM Corporation - initial implementation
-->
<?eclipse version="3.4"?>
<plugin>

   <!-- Contexts -->
   <extension point="org.eclipse.ui.contexts">
      <context
            description="Liberty dev mode"
            id="io.openliberty.tools.eclipse.context"
            name="Using Liberty tools"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>

   <!-- Commands -->
   <extension point="org.eclipse.ui.commands">
      <category
            id="io.openliberty.tools.eclipse.command.category"
            name="Liberty Tools">
      </category>
      <command
            id="io.openliberty.tools.eclipse.open.dashboard.command"
            name="Open Dashboard"
            categoryId="io.openliberty.tools.eclipse.command.category">
      </command>
      <command
            id="io.openliberty.tools.eclipse.project.start.command"
            name="Liberty Start"
            categoryId="io.openliberty.tools.eclipse.command.category">
      </command>
      <command
            id="io.openliberty.tools.eclipse.project.startWithParms.command"
            name="Liberty Start with Parameters"
            categoryId="io.openliberty.tools.eclipse.command.category">
      </command>
      <command
            id="io.openliberty.tools.eclipse.project.startInContainer.command"
            name="Liberty Start in Container"
            categoryId="io.openliberty.tools.eclipse.command.category">
      </command>      
      <command
            id="io.openliberty.tools.eclipse.project.stop.command"
            name="Liberty Stop"
            categoryId="io.openliberty.tools.eclipse.command.category">
      </command>  
      <command
            id="io.openliberty.tools.eclipse.project.runTests.command"
            name="Liberty Run Tests"
            categoryId="io.openliberty.tools.eclipse.command.category">
      </command>  
      <command
            id="io.openliberty.tools.eclipse.project.viewMvnIntegrationTestReport.command"
            name="Liberty View Integration Test Report"
            categoryId="io.openliberty.tools.eclipse.command.category">
      </command>   
      <command
            id="io.openliberty.tools.eclipse.project.viewMvnUnitTestReport.command"
            name="Liberty View Unit Test Report"
            categoryId="io.openliberty.tools.eclipse.command.category">
      </command>    
      <command
            id="io.openliberty.tools.eclipse.project.viewGradleTestReport.command"
            name="Liberty View Gradle Test Report"
            categoryId="io.openliberty.tools.eclipse.command.category">
      </command>
   </extension>

   <extension point="org.eclipse.ui.handlers">
      <handler
            class="io.openliberty.tools.eclipse.handlers.DashboardHandler"
            commandId="io.openliberty.tools.eclipse.open.dashboard.command">
      </handler>
   </extension>

   <!-- Bindings -->
   <extension point="org.eclipse.ui.bindings">
      <key commandId="io.openliberty.tools.eclipse.open.dashboard.command"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           contextId="org.eclipse.ui.contexts.window"
           sequence="M3+L"/>
      <key
            commandId="io.openliberty.tools.eclipse.project.start.command"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="io.openliberty.tools.eclipse.context"
            sequence="M2+M3+L S">
      </key>
      <key
            commandId="io.openliberty.tools.eclipse.project.startWithParms.command"
            contextId="io.openliberty.tools.eclipse.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+L P">
      </key>
      <key
            commandId="io.openliberty.tools.eclipse.project.startInContainer.command"
            contextId="io.openliberty.tools.eclipse.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+L C">
      </key> 
      <key
            commandId="io.openliberty.tools.eclipse.project.stop.command"
            contextId="io.openliberty.tools.eclipse.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+L Q">
      </key>    
      <key
            commandId="io.openliberty.tools.eclipse.project.runTests.command"
            contextId="io.openliberty.tools.eclipse.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+L T">
      </key>    
      <key
            commandId="io.openliberty.tools.eclipse.project.viewMvnIntegrationTestReport.command"
            contextId="io.openliberty.tools.eclipse.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+L I">
      </key> 
      <key
            commandId="io.openliberty.tools.eclipse.project.viewMvnUnitTestReport.command"
            contextId="io.openliberty.tools.eclipse.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+L U">
      </key>
      <key
            commandId="io.openliberty.tools.eclipse.project.viewGradleTestReport.command"
            contextId="io.openliberty.tools.eclipse.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+L R">
      </key>
   </extension>

   <!-- Menu/Toolbar -->
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu id="io.openliberty.tools.eclipse.liberty.menu"
               label="Liberty">
            <command
                  commandId="io.openliberty.tools.eclipse.open.dashboard.command"
                  id="io.openliberty.tools.eclipse.menu.command">
            </command>
         </menu>
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="io.openliberty.tools.eclipse.dashboard.toolbar">
            <command
                  id="io.openliberty.tools.eclipse.dashboard.toolbar.command"
                  commandId="io.openliberty.tools.eclipse.open.dashboard.command"
                  icon="icons/openLibertyLogo.png"
                  tooltip="Open Liberty Dashboard View"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

   <!-- Views -->
  <extension point="org.eclipse.ui.views">
     <category 
           id="io.openliberty.tools.eclipse.view.category"
           name="Liberty">
     </category>
     <view id="io.openliberty.tools.eclipse.views.liberty.devmode.dashboard"
           name="Liberty Dashboard"
           icon="icons/openLibertyLogo.png"
           category="io.openliberty.tools.eclipse.view.category"
           class="io.openliberty.tools.eclipse.ui.DashboardView"/>
  </extension>

  <!-- Nature -->
  <extension id="libertyNature" name="Liberty Nature" point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="io.openliberty.tools.eclipse.LibertyNature">
         </run>
      </runtime>
  </extension>

  <!-- Delegate-->
  <extension point="org.eclipse.tm.terminal.view.ui.launcherDelegates">
      <delegate
          class="io.openliberty.tools.eclipse.ui.terminal.LocalDevModeLauncherDelegate"
          id="io.openliberty.tools.eclipse.ui.terminal.local.devmode.launcher.delegate"
          label="io.openliberty.tools.eclipse.ui.terminal.local.devmode.launcher.delegate.label">
      </delegate>
  </extension>

  <!-- Trace-->
  <extension
      point="org.eclipse.ui.trace.traceComponents">
      <component
            id="io.openliberty.tools.eclipse.trace"
            label="Liberty Tools">
         <bundle
               name="liberty">
         </bundle>
      </component>
  </extension>
</plugin>
