<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <!--
   <extension
   		point="org.eclipse.core.contenttype.contentTypes">
   		<content-type
            base-type="org.eclipse.jdt.core.javaSource"
            default-charset="ISO-8859-1"
            id="org.microprofile.lsp4e.javaContentType"
            name="Microprofile Java File"
            priority="high">
		</content-type>
   </extension>
    -->
    
	  <!-- add the liberty server.xml LS support -->  
      <extension
		   point="org.eclipse.wildwebdeveloper.xml.lemminxExtension">
		    <jar
		          path="lib/liberty-langserver-lemminx-1.0-SNAPSHOT-jar-with-dependencies.jar">
		    </jar>
      </extension>
   
      <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-names="microprofile-config.properties"
            id="io.openliberty.tools.org.microprofile.tools.microprofile.mp-properties"
            name="Microprofile Properties"
            priority="normal">
      </content-type>
   </extension>
   
    <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="org.eclipse.lsp4e.ConnectDocumentToLanguageServerSetupParticipant"
            contentTypeId="org.eclipse.jdt.core.javaSource">
      </participant>
            <participant
            class="org.eclipse.lsp4e.ConnectDocumentToLanguageServerSetupParticipant"
            contentTypeId="org.eclipse.core.runtime.text">
      </participant>
   </extension>
   
   <extension point="org.eclipse.ui.editors">
       <!--
      <editorContentTypeBinding
            contentTypeId="org.microprofile.lsp4e.javaContentType"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
       -->
      <editorContentTypeBinding
            contentTypeId="io.openliberty.tools.org.microprofile.tools.microprofile.mp-properties"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
   </extension>
   
   <extension
         point="org.eclipse.lsp4e.languageServer">
      <server
            class="liberty.tools.mpls.LibertyMPLSConnection"
            clientImpl="liberty.tools.mpls.LibertyMPLSClientImpl"
            id="io.openliberty.tools.org.microprofile.mpserver"
            serverInterface="org.eclipse.lsp4mp.ls.api.MicroProfileLanguageServerAPI"
            label="Liberty MicroProfile Language Server"
            singleton="true">
      </server>
      <contentTypeMapping
            contentType="io.openliberty.tools.org.microprofile.tools.microprofile.mp-properties"
            id="io.openliberty.tools.org.microprofile.mpserver">
      </contentTypeMapping>
      <contentTypeMapping
            contentType="org.eclipse.jdt.core.javaSource"
            id="io.openliberty.tools.org.microprofile.mpserver">
      </contentTypeMapping>  
   </extension>
      
   <!--
   <extension
         point="org.eclipse.tm4e.registry.grammars">
      <grammar
            path="./language-support/properties-support/quarkus-properties.tmLanguage.json"
            scopeName="properties">
      </grammar>
      <scopeNameContentTypeBinding
            contentTypeId="org.microprofile.tools.microprofile.mp-properties"
            scopeName="properties">
      </scopeNameContentTypeBinding>
   </extension>
   
   <extension
         point="org.eclipse.tm4e.languageconfiguration.languageConfigurations">
      <languageConfiguration
            contentTypeId="org.microprofile.tools.microprofile.mp-properties"
            path="language-support/properties-support/language-configuration.json">
      </languageConfiguration>
   </extension>
   -->

</plugin>
