<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2022 IBM Corporation and others.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License v. 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0.
  
  SPDX-License-Identifier: EPL-2.0
  
  Contributors:
      IBM Corporation - initial implementation
-->
<plugin>
 
      <!-- add the liberty server.xml LS support -->  
      <extension
           point="org.eclipse.wildwebdeveloper.xml.lemminxExtension">
            <jar
                  path="lib/liberty-langserver-lemminx-1.0-SNAPSHOT-jar-with-dependencies.jar">
            </jar>
      </extension>
   
      <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-names="microprofile-config.properties"
            id="io.openliberty.tools.org.microprofile.tools.microprofile.mp-properties"
            name="Microprofile Properties"
            priority="normal">
      </content-type>
   </extension>
   
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-names="server.xml"
            id="io.openliberty.tools.liberty.server.xml"
            name="Liberty Server Config XML"
            priority="normal">
      </content-type>
   </extension>
   
    <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="org.eclipse.lsp4e.ConnectDocumentToLanguageServerSetupParticipant"
            contentTypeId="org.eclipse.jdt.core.javaSource">
      </participant>
            <participant
            class="org.eclipse.lsp4e.ConnectDocumentToLanguageServerSetupParticipant"
            contentTypeId="org.eclipse.core.runtime.text">
      </participant>
   </extension>
   
   <extension point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="io.openliberty.tools.org.microprofile.tools.microprofile.mp-properties"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
   </extension>
   
   <extension point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="io.openliberty.tools.liberty.server.xml"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
   </extension>   
   
   <extension
         point="org.eclipse.lsp4e.languageServer">
      <server
            class="liberty.tools.mpls.LibertyMPLSConnection"
            clientImpl="liberty.tools.mpls.LibertyMPLSClientImpl"
            id="io.openliberty.tools.org.microprofile.mpserver"
            serverInterface="org.eclipse.lsp4mp.ls.api.MicroProfileLanguageServerAPI"
            label="Liberty MicroProfile Language Server"
            singleton="true">
      </server>
      <contentTypeMapping
            contentType="io.openliberty.tools.org.microprofile.tools.microprofile.mp-properties"
            id="io.openliberty.tools.org.microprofile.mpserver">
      </contentTypeMapping>
      <contentTypeMapping
            contentType="org.eclipse.jdt.core.javaSource"
            id="io.openliberty.tools.org.microprofile.mpserver">
      </contentTypeMapping>  
   </extension>
      
</plugin>
