<server description="Sample Liberty server">

    <featureManager>
        <feature>jsp-2.3</feature>
    </featureManager>

    <variable name="default.http.port" defaultValue="9081" />
    <variable name="default.https.port" defaultValue="9444" />

    <httpEndpoint host="*" httpPort="${default.http.port}"
        httpsPort="${default.https.port}" id="defaultHttpEndpoint" />

    <enterpriseApplication id="guide-maven-multimodules-custmm-ear2"
        location="guide-maven-multimodules-custmm-ear2.ear"
        name="guide-maven-multimodules-custmm-ear2" />
</server>
