<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.ui.commands">
      <category
            id="liberty.commands.category"
            name="Liberty Dev Category">
      </category>
      <command
            categoryId="liberty.commands.category"
            name="Open Dashboard"
            id="liberty.commands.open.dashboard">
      </command>
   </extension>

   <extension point="org.eclipse.ui.handlers">
      <handler
            class="liberty.tools.handlers.DashboardHandler"
            commandId="liberty.commands.open.dashboard">
      </handler>
   </extension>
   
   <!-- Bindings -->
   <extension point="org.eclipse.ui.bindings">
      <key commandId="liberty.commands.open.dashboard"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           contextId="org.eclipse.ui.contexts.window"
           sequence="M1+1"/>
   </extension>
   
   <!-- Menu/Toolbar -->
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu id="liberty.menus.liberty"
               label="Liberty"
               mnemonic="L">
            <command
                  commandId="liberty.commands.open.dashboard"
                  id="liberty.menus.open.dashboard"
                  mnemonic="D">
            </command>
         </menu>
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="liberty.toolbars.dashboard">
            <command
                  id="liberty.toolbars.open.dashboard"
                  commandId="liberty.commands.open.dashboard"
                  icon="icons/openLibertyLogo.png"
                  tooltip="Open Liberty Dashboard View">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   
   <!-- Views -->
  <extension point="org.eclipse.ui.views">
     <category 
           id="liberty.views.liberty.category"
           name="Liberty">
     </category>
     <view id="liberty.views.liberty.devmode.dashboard"
           name="Liberty Dashboard"
           icon="icons/openLibertyLogo.png"
             	category="liberty.views.liberty.category"
                class="liberty.tools.ui.DashboardView"/>
  </extension>
  
  <!-- Nature -->
  <extension id="libertyNature" name="LibertyNature" point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="liberty.tools.LibertyNature">
         </run>
      </runtime>
  </extension>
</plugin>