<server description="Sample Liberty server">

    <featureManager>
        <feature>jsp-2.3</feature>
    </featureManager>

    <variable name="default.http.port"  defaultValue="9091" />
    <variable name="default.https.port" defaultValue="9454" />

    <httpEndpoint host="*" httpPort="${default.http.port}"
        httpsPort="${default.https.port}" id="defaultHttpEndpoint" />

    <enterpriseApplication id="guide-gradle-multimodules-custmm-ear2"
        location="guide-gradle-multimodules-custmm-ear2-1.0-SNAPSHOT.ear"
        name="guide-gradle-multimodules-custmm-ear2" />

</server>
