name: run-regression-tests

on:
  pull_request:
    branches:
      - main
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        runtime: [ linux, mac, windows ]
        targetPlatform: [ 4Q2023 ]
        include:
        - runtime: linux
          os: ubuntu-latest

        - runtime: mac
          os: macOS-latest

        - runtime: windows
          os: windows-latest

    name: Build Plugin
    runs-on: ${{ matrix.os }}

    steps:
      # Checkout the eclipse plugin repository.
      - name: 'Setup: Checkout plugin'
        uses: actions/checkout@v2

      # Install the required software.
      - name: 'Setup: Install required software' 
        run: bash ./tests/resources/ci/scripts/setup.sh
        
      # Build the plugin.
      - name: 'Build: Build-Package-RunTests'
        run: bash ./tests/resources/ci/scripts/exec.sh ${{ matrix.targetPlatform }}

      # Collect logs
      - run: |
          mkdir logs
          find tests -type f -name "*.log" -exec cp {} logs \;
        if: failure()

      # save logs
      - name: Upload Logs
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: test-app-logs
          path: logs
